# Grav generated
cache/
backup/
logs/
tmp/
images/

# Vendor-Ordner (werden per Composer installiert)
vendor/
user/plugins/*/vendor/

# User-Daten (Accounts, Sessions etc.)
user/accounts/
user/data/

# IDE
.vscode/

router_local.php
user/qebaptore.org/
user/plugins/admin/
user/plugins/email/
user/plugins/form/
user/plugins/login/
assets/admin-preset.css
