.header-login a {
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.3);
  text-decoration: none;
  margin-left: 1rem;
}
.header-login a:hover {
  border-color: rgba(255,255,255,.5);
}

