<section id="sidebar">
  <div class="inner">
    <nav>
      {% include 'partials/navigation.html.twig' %}
    </nav>
<!-- DEFAULT SIDEBAR NAV -->

    {% include 'partials/loginbox.html.twig' %}
  </div>
</section>

